@font-face {
    font-family: "en-style-1" ;
    src: url('../fonts/calibri_bold.eot'); /* IE9 Compat Modes */
    src: url('../fonts/calibri_bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/calibri_bold.woff') format('woff'), /* Modern Browsers */
    url('../fonts/calibrib.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('../fonts/calibri_bold.svg#en-style-1') format('svg'); /* Legacy iOS */
}
@font-face {
    font-family: "en-style-2" ;
    src: url("../fonts/arialbd.ttf");
}
@font-face {
    font-family: 'font-style-1';
    src: url('../fonts/26.eot');
    src: url('../fonts/26.eot') format('embedded-opentype'),
    url('../fonts/26.woff') format('woff'),
    url('../fonts/26.ttf') format('truetype'),
    url('../fonts/26.svg#font-style-1') format('svg');
}
@font-face {
    font-family: 'font-style-2';
    src: url('../fonts/20.eot');
    src: url('../fonts/20.eot') format('embedded-opentype'),
    url('../fonts/20.woff') format('woff'),
    url('../fonts/20.ttf') format('truetype'),
    url('../fonts/20.svg#font-style-2') format('svg');
}
@font-face {
    font-family: 'font-style-3';
    src: url('../fonts/28.eot');
    src: url('../fonts/28.eot') format('embedded-opentype'),
    url('../fonts/28.woff') format('woff'),
    url('../fonts/28.ttf') format('truetype'),
    url('../fonts/28.svg#font-style-3') format('svg');
}
@font-face {
    font-family: 'font-style-4';
    src: url('../fonts/40.eot');
    src: url('../fonts/40.eot') format('embedded-opentype'),
    url('../fonts/40.woff') format('woff'),
    url('../fonts/40.ttf') format('truetype'),
    url('../fonts/40.svg#IRRoyaBold') format('svg');
}
.font-size-xlarge{
    font-size: x-large;
}
.font-size-large{
    font-size: large;
}
.im{
    margin-top: -40px;
    width: 120px;
    opacity: .4;
    filter: alpha(opacity=60);
}
.im:hover {
    transition: all .5s ease-in .1s;
    opacity: 2;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}
.header{
    padding-top: 4em;
    padding-bottom: 4em;
    text-align: center;
    background-color: #f6f6f6;
    border-top: 1px solid #d0dada;
    box-shadow: 0 0 20px rgba(0,0,0,.3);
    font-size: 0.9em;
    border-bottom: 1px solid #d0dada;
}
.anesthesia-inside{
    margin-left: 40px;
    margin-right: 40px;
}
.list-hide{
    display: none;
}
.list-hide:hover{
    transition: all 1s ease-in .1s;
}
.checkbox-direction{
    direction: ltr;
}
.margin-top{
    margin-top: 5px;
}
.body{
    background-color:#EBEBEB;
}
html{
    -webkit-animation: fadein 3s; /* Safari and Chrome */
    -moz-animation: fadein 3s; /* Firefox */
    -ms-animation: fadein 3s; /* Internet Explorer */
    -o-animation: fadein 3s; /* Opera */
    animation: fadein 3s;
}
.list_hidden_fade{
      -webkit-animation: fadein 1s; /* Safari and Chrome */
      -moz-animation: fadein 1s; /* Firefox */
      -ms-animation: fadein 1s; /* Internet Explorer */
      -o-animation: fadein 1s; /* Opera */
      animation: fadein 1s;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Firefox */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Safari and Chrome */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}​
/* Opera */
@-o-keyframes fadein {
     from { opacity: 0; }
     to   { opacity: 1; }
 }​
