#wrapper {
  padding-left: 250px;
  padding-right: 250px;
  transition: all 0.4s ease 0s;
}
.bgcolor{
    background: #c1e2b3;
}
#sidebar-wrapper {
  margin-left: -250px;
  left: 250px;
  width: 250px;
  background: #222222;
  position: fixed;
  height: 100%;
  margin-top: -72px;
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.4s ease 0s;
}
#sidebar-wrapper-right {
  margin-top: -72px;
  margin-right: -250px;
  right: 250px;
  width: 250px;
  background: #222222;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.4s ease 0s;
}
#page-content-wrapper {
  width: 98%;
}
.tile-link{
    text-align: right;
    float: right;
    margin-right: -85px;
}
.tile-link-figure{
    text-align: right;
    float: right;
    margin-right: -85px;
    font-size: 15px;
}
.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.sidebar-nav li {
  line-height: 40px;
  text-indent: 20px;
}
.sidebar-nav li a {
  color: #999999;
  display: block;
  text-decoration: none;
}
.sidebar-nav li a:hover {
  color: #fff;
  background: rgba(255,255,255,.1);
  text-decoration: none;
}
.sidebar-nav-figure li a:hover {
    color: #fff;
    background: rgba(0,0,0,0);
}
.sidebar-nav-figure li a {
    color: #999999;
    display: inline-block;
    margin-right: -100px;
    text-decoration: none;
}
.sidebar-nav-tile-1 li a {
    color: #ffffff;
    display: inline-block;
    text-decoration: none;
}
.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  line-height: 60px;
  font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

.content-header {
  height: 65px;
  line-height: 65px;
}

.content-header h1 {
  margin: 0;
  margin-right: 20px;
  line-height: 65px;
}
.inset {
  padding: 20px;
}

#wrapper {
  padding-left: 0;
  padding-right:0;
}
#sidebar-wrapper {
  left: 0;
}

#sidebar-wrapper-right {
  right: 0;
}
#wrapper.active #sidebar-wrapper {
  left: 250px;
  width: 250px;
  transition: all .4s ease 0s;
}
#menu-toggle-right {
    display: inline-block;
}
.navbar-toggle-right {
    float: right;
    transition: all 1s ease 0s;
}
.navbar-toggle-right-change{
    margin-right: 235px;
    transition: all 1s ease 0s;
}
.navbar-toggle-left{
    float: left;
    margin-left: 15px;
    transition: all 1s ease 0s;
}
.navbar-toggle-left-change{
    margin-left: 250px;
    transition: all 1s ease 0s;
}
#wrapper.inactive #sidebar-wrapper-right{
  right: 250px;
  width: 250px;
  transition: all 0.4s ease 0s;
}
#menu-toggle {
  display: inline-block;
}
.inset {
  padding: 15px;
}
@font-face {
    font-family: "font-style-1" ;
    src: url("../fonts/(22).ttf");
}
p.well {
    font-family: font-style-1;
    font-size: 30px;
}
.becca {
    margin-right: 100px;
}
.logs{
    text-align: left;
    color: #ffffff;
    margin-left: 15px;
}
.navbar-title{
    text-align: center;
    margin-right: 20px;
    color: #ffffff;
}
.navbar-info-right{
    text-align: right;
    margin-right: 80px;
    margin-top: -43px;
    color: #ffffff;
}
.navbar-info-left{
    text-align: left;
    margin-left: 80px;
    margin-top: -27px;
    color: #ffffff;
}
.navbar-info-right-change{
    text-align: right;
    margin-right: 310px;
    margin-top: -43px;
    color: #ffffff;
    transition: all 1s ease 0s;
}
